In [1]:
import operators as ops
from trees import *
import pandas as pd
import numpy as np
#from pandas.core.arrays.string_ import StringDtype
print('primt')

primt

In [12]:
class _DoesNothing:
    pass

dtype_dict = {
     pd.core.arrays.string_.StringDtype: str   
}

type_dict = {
    str: 's',
    int: 'i',
    float: 'f',
    complex: 'c',
    bool: 'b',
    _DoesNothing: 'x'
}

def _type_ify(arg):
    if type(arg) == pd.Series:
        dt = dtype_dict.get(arg.dtype, dtype_dict.get(type(arg.dtype), False))
        if dt:
            return dt
        else:
            for k in type_dict.keys():
                if arg.dtype == k:
                    dtype_dict[arg.dtype] = k
                    return k
            dtype_dict[arg.dtype] = _DoesNothing
            return _DoesNothing
    return type(arg)

In [3]:
df = pd.DataFrame(
    {
        "strings": ["one", "two", "three", "four"],
        "ints": [1,2,3,4],
        "floats": [1.0, 2.0, 3.0, 4.0],
        "complexes": [1+4j, 2+3j, 3+2j, 4+1j],
        "bools": [True, False, True, False]
    }
)
df["strings"] = df["strings"].astype("string")
df["dates"] = pd.Series(pd.date_range("20130101", periods=4))
df

  strings  ints  floats           complexes  bools      dates
0     one     1     1.0  1.000000+4.000000j   True 2013-01-01
1     two     2     2.0  2.000000+3.000000j  False 2013-01-02
2   three     3     3.0  3.000000+2.000000j   True 2013-01-03
3    four     4     4.0  4.000000+1.000000j  False 2013-01-04

In [13]:
for t in ["str", 0, 0.0, 0.0+1j, True, None]:
    print(type_let(t))
    
for h in df:
    print(type_let(df[h]))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'NoneType'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class '__main__._DoesNothing'>

In [9]:
bool(_DoesNothing)

True

In [ ]:
df["dates"] = pd.Series(pd.date_range("20130101", periods=4))
df

In [ ]:
for name in list(df):
    print(type(np.zeros(1,df[name].dtype)[0].item()))

In [ ]:
df["strings"].dtype == StringDtype

In [ ]:
tree0 = tree("([S]([NP]([PN]'she'))([VP]([V]'saw')([S]([NP]([NP]([Det]'the')([N]'dog'))([PP]([Prep]'with')([NP]([Det]'the')([N]'telescope'))))([VP]([V]'observing')([NP]([PN]'neptune'))))))", treebank = tb)
tb.print_all_labels()

In [ ]:
print('ptint')
tree0[0].delete()
tree0

In [ ]:
tb.print_all_labels()

In [ ]:
op = [ops.SUM, ops.PROD, ops.SQ, ops.EQ, ops.NOT, ops.OR, ops.AND]
tlt = TypeLabelledTreebank(op)
gpt0 = tlt.tree("([bool]<AND>([bool]<EQ>([float]<SQ>([int]6))([float]<PROD>([int]9)([float]<SUM>([float]2.5)([float]1.5))))([bool]<OR>([bool]<NOT>([bool]<EQ>([int]0)([int]1)))([bool]False)))")

In [ ]:
tlt.print_all_labels()

In [ ]:
gpt_err0 = tlt.tree("([bool]<AND>([bool]<EQ>([float]<SQ>([int]6.0))([float]<PROD>([int]9)([float]<SUM>([float]2.5)([float]1.5))))([bool]<OR>([bool]<NOT>([bool]<EQ>([int]0)([int]1)))([bool]False)))")

In [ ]:
tlt.print_all_labels()